h1 {
  color: #6699FF;
  text-align: left;
  font-size: 20pt;
}

hr {
  width: 100%;
  color: #6699FF;
}

table, th, td {
  border: 1px solid #6699FF;
}

table {
  border-collapse:collapse;
  width: 180%;
  float: right;
}

th {
  background-color: #6699CC;
  color: white;
}

td {
  padding: 20px;
}

#div-1 {
  background-image: url('winlab.jpg');
  background-size: 250px 80px;
  background-repeat: no-repeat;
  background-position: right top;
  margin-top: 20px
  margin-right: 100px;
  position: relative;
  height: 90px;
  width: 100%;
}

.center {
  margin-top: auto;
  margin-bottom: auto;
  width: 50%;
}

#div-2 {
  position: relative;
  float: left;
  display: inline; /*required by IE6*/
  width: 400px;  
}

#div-3 {
  float: right;
  display: inline; /*required by IE6*/
  width: 289px;
  margin-right: 20px 
}

div#uploadForm {
  display: none;
}

div#commentForm {
  display: none;
}

#wrapper {	
  float:left; 
  width: 48%; 
}

#config {
  float:left;
}

#loginBox p { 
  padding:5px 0; 
}

#loginBox p label { 
  float:left; 
  width:150px; 
}

#loginBox p input { 
  float:right; 
  padding:2px; 
}
